
<carousel>
    <slide>
        <img src="assets/images/IMG_2824.JPG" alt="Logo"  >
      <div class="carousel-caption">
        <h3>Slide 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
        <img src="assets/images/1.jpg" alt="Logo"  >
      <div class="carousel-caption">
        <h3>Slide 2</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
        <img src="assets/images/2.jpg" alt="Logo"  >
      <div class="carousel-caption">
        <h3>Slide 3</h3>
        <p>Vestibulum id ligula porta felis euismod semper.</p>
      </div>
    </slide>
  </carousel>
  